@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-display: 'Josefin Sans', sans-serif;
  --font-family-2: 'Urbanist', sans-serif;
  --primary-color: #f59e0b; /* amber-400 */
  --secondary-color: #1e3a8a; /* blue-800 */
  --background-color: #f7fafe; /* gray-100 */
  --text-color: #111827; /* gray-900 */
  --breakpoint-3xl: 1920px;
}

@layer base {

  html{
    font-family: var(--font-display);
  }
  body {

    font-family: var(--font-display);
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
  }

}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.w-md-editior {
  height: 400px  !important;
}

/* Ion button size & spacing */
.w-md-editior-toolbar li > button {
  height: 40px !important;
  padding: 10 !important;
  color: #4A5568 !important;
  font-size: 24px !important;
}
.w-md-editior-toolbar button:hover {
  color: #681db3 !important;
  background-color: #e9d4ff !important;
  border-radius:6px ;
}

/* Active/foused icon style */
.w-md-editior-toolbar button:hover {
  outline: none;
  color: #207a99 !important;
  background-color: #e9f4ff !important;
}

.input-b0x {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-4 py-3 mb-4 mt-4 border border-gray-100 outline-none focus-within:border-sky-300;
}

.btn-primary {
  @apply w-full flex  items-center justify-center gap-3 text-sm font-semibold text-white bg-linear-to-r  from-sky-500 to-cyan-400 p-[10px] rounded-md my-1 transition-all hover:scale-[1.01] hover:text-white cursor-pointer;
}

.btn-small {
  @apply flex items-center justify-center gap-3 bg-linear-to-r from-sky-500 to-cyan-400 text-sm font-semibold text-white px-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-[0_10px_15px_rgba(14,165,233,0.2)];
}

.form-card {
  @apply bg-white rounded-xl shadow-xl text-gray-500 border border-gray-200/50;
}

.form-input {
  @apply w-full text-sm text-black  bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500; 
}

.logo {
 font-family: "Ballet", cursive;
 font-size: 1.8em;
  font-weight: 1000;
  font-style: normal;
}